.git
.gitignore
.turbo
*/.turbo
.vscode
*.md
workos_design_system.json
*/dist
*/node_modules
node_modules
*/.env
*/.env.sample
*/tsconfig.tsbuildinfo
**/.git
**/node_modules
**/dist
**/.turbo
**/*.md
**/coverage
**/.env*
**/tsconfig.tsbuildinfo